<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Default</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Title</key>
				<string>[龇牙]</string>
				<key>ImageName</key>
				<string>龇牙.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[微笑]</string>
				<key>ImageName</key>
				<string>微笑.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[示爱]</string>
				<key>ImageName</key>
				<string>示爱.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[色]</string>
				<key>ImageName</key>
				<string>色.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[呕吐]</string>
				<key>ImageName</key>
				<string>呕吐.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[玫瑰]</string>
				<key>ImageName</key>
				<string>玫瑰.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[流泪]</string>
				<key>ImageName</key>
				<string>流泪.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[酷]</string>
				<key>ImageName</key>
				<string>酷.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[尴尬]</string>
				<key>ImageName</key>
				<string>尴尬.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[发怒]</string>
				<key>ImageName</key>
				<string>发怒.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[大哭]</string>
				<key>ImageName</key>
				<string>大哭.png</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>[便便]</string>
				<key>ImageName</key>
				<string>便便.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
